nav{
   font-family: exo;
}

.link-font-weight{
   font-weight: 500;
   font-size: 1.1rem;
}

.link-font-weight:hover{
   color: rgb(230, 217, 217) !important;
}

.logo{
   color: white;
   font-weight: 700;
   font-size: 2rem;
}
.logo:hover{
   color: white !important;
}