.App {
  font-family: exo;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.theme-bg{
  background-color: #3a206ef2 !important;
}

.theme-text{
  color: #6a4ca4 !important;
}

.theme-bg-green{
  background-color: #00cc11 !important;
}

.theme-text-green{
  color: #006808 !important;
}

.custom-border-none{
  border: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
